<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /global-lotto-admin/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule . /global-lotto-admin/index.html [L]
</IfModule>
